{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js">
    </script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Best Cars</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top-navigation-bar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="top-navigation-bar">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'djangoapp:index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'djangoapp:about' %}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact us</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link ml-3 dropdown-toggle" href="#" role="button" id="userDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.first_name }}({{ user.username }})</a>
                    <div class="dropdown-menu" aria-labelledby="userDropdownMenu">
                        <a class="dropdown-item" href="{% url 'djangoapp:logout' %}">Logout</a>
                    </div>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm mr-1" placeholder="Username" name="username">
                            <input type="password" class="form-control form-control-sm mr-1" placeholder="Password" name="password">
                            <button class="btn btn-sm btn-light mr-1" type="submit">Login</button>
                            <a class="btn btn-sm btn-dark" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- /Navigation -->

    <!-- Header -->
    {% block jumbotron %} {% endblock %}
    <!-- /Header -->

    <!-- Content -->
    <section id="content" class="row container col-12 p-0 m-0 w-100 ">
        <div class="main col-lg-9 col-md-12 ">{% block content %} {% endblock %}</div>
    </section>
    <!-- /Content -->

    <!-- Footer -->
    <footer class="page-footer fixed-bottom font-small bg-dark text-white">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left ">

            <!-- Grid row -->
            <div class="row ">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3 ">

                    <!-- Content -->
                    <h5 class="text-uppercase ">Footer Content</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>

                </div>


                <hr class="clearfix w-100 d-md-none pb-3 ">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3 ">

                    <!-- Links -->
                    <h5 class="text-uppercase ">Links</h5>

                    <ul class="list-unstyled ">
                        <li>
                            <a href="{% url 'djangoapp:index' %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'djangoapp:about' %}">About Us</a>
                        </li>
                        <li>
                            <a href="{% url 'djangoapp:contact' %}">Contact</a>
                        </li>
                        <li>
                            <a href="#! ">Link 4</a>
                        </li>
                    </ul>

                </div>
                <!-- /Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3 ">

                    <!-- Links -->
                    <h5 class="text-uppercase ">Links</h5>

                    <ul class="list-unstyled ">
                        <li>
                            <a href="#! ">Link 1</a>
                        </li>
                        <li>
                            <a href="#! ">Link 2</a>
                        </li>
                        <li>
                            <a href="#! ">Link 3</a>
                        </li>
                        <li>
                            <a href="#! ">Link 4</a>
                        </li>
                    </ul>

                </div>
                <!-- /Grid column -->

            </div>
            <!-- /Grid row -->

        </div>
        <!-- /Footer Links -->

        <!-- Author -->
        <div class="footer-copyright text-center py-3 ">Author:
            <a href="https://lxmarinkovic.com/ "> lxmarinkovic</a>
        </div>
        <!-- /Author -->

    </footer>
    <!-- /Footer -->
</body>

</html>